{{#partial "content"}}
    <h1>"The animals of the world exist for their own reasons. They were not made
        for humans any more than black people were made for white, or women created for men."</h1>
    <button type="submit" class="btn btn-sucess">Add animal</button>
    <button type="submit" class="btn btn-sucess">Did you see an animal?</button>
{{/partial}}
{{>layout.hbs}}